.event-container{
    position: relative;
}
.event-form{
    background-color:white !important;
    padding:60px;
}
.confirm-task-form {
    width: 570px;
    height:auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
    padding:20px 20px 20px 20px;
    position:relative;
}

.confirm-task-form input {
    width: 460px;
}

label {
    font-family: Montserrat !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 22px;
    color: #000000 !important;
}

.add-event-btn {
    height: 37px;
    position: absolute;
    margin-top: 50px;
    background: #0084FF;
    font-family: Montserrat;
    text-align: center;
    border: none;
    color:white;
    border-radius: 10px;
    width:108px;
    right:0;
}

.login-page-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 0;
}

.login-page-inner {
    margin: 0 55px;
}
button:disabled{
    background-color:gray;
    color:black
}
.upload-image-btn{
    width:173px;
    height:40px;
    background-color:#E5F3FF;
    border:1px solid #0084FF;
    border-radius:10px;
    padding:5px;
}
.upload-image-btn:hover{
    cursor: pointer;
}
.upload-logo{
    width:24px;
    height:24px;
}

