.logo{
    height:60px;
    width:202px;
}
.navigation{
    font-family:'Montserrat', sans-serif;
}
.search-bar{
    border:1px solid lightgrey;
    border-radius:7px;
    height:40px;
    margin:20px 5px;
    padding:15px;
}
