.taskLists{
    margin-left:120px;
}
.box{
    width: 100%;
    text-align:center;
    margin-bottom:60px;
}
.search-bar{
    height:50px;
    width:400px;
}
.search-btn{
    width:118px;
    height:50px;
    background-color:#3F90FC;
    border:none;
    border-radius:10px;
}